---
layout: default
---

<head>
    <!-- Meta tags -->
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <!-- Jika Anda memiliki gambar thumbnail yang ingin ditampilkan saat dibagikan, Anda bisa menambahkan metatag ini -->
    <!-- <meta property="og:image" content="URL_GAMBAR_THUMBNAIL" /> -->
    <!-- Anda juga bisa menambahkan metatag lainnya sesuai kebutuhan -->
    <!-- Seluruh tag head lainnya -->
</head>


<a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a>
<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}
{{ content }}
